body {
    background-color: #88a8db;
    font-family: 'Quicksand', sans-serif;
    max-width: 50em;
    margin: 2em;
    padding: 2em 1em;
}

nav a{
    background-color: #3b63a3;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
}

nav a:hover{
    background-color: #88a8db;
    color: #FFFFFF;
}
.header{
    text-align: center;
    width: 100%;
}




