{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}" />
    <title>Workouts</title>
  </head>
  <body>
      <h1>Find a different workout!</h1>
    <div class="navbar-fixed ">
      <nav>
        <div class="nav-wrapper light-blue accent-3">
          <ul class="left ">
        <li><a href="/" class="hoverable">Users</a></li>
        <li><a href="{% url 'create_workout'  %}" class="hoverable">Add a workout plan!</a></li>
        <li><a href="{% url 'signup' %}"  class="hoverable">Sign Up</a></li>
        {% if user.is_authenticated %} 
        Welcome, {{ user.username }}
        <li> <a href="{% url 'logout' %}" class="hoverable">Log out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}"  class="hoverable">Login</a></li>
        {% endif %}
      </ul>
      </nav>
    </div>
    </div>
    {% block content %} 
    {% endblock %}
    <script src="{% static 'materialize/js/materialize.js' %}"></script>
  </body>
</html>
