{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/workout.css' %}" />
    <title>Workouts</title>
  </head>
  <body>
    <div class="header">
      <h1>Find a different workout!</h1>
      <nav>
        <a href="/">Users</a>
        <a href="{% url 'create_workout' %}">Add a workout plan!</a>
        <a href="{% url 'signup' %}" id="signup">Sign Up</a>
        {% if user.is_authenticated %} Welcome, {{ user.username }}
        <a href="{% url 'logout' %}" id="logout">Log out</a>
        {% else %}
        <a href="{% url 'login' %}" id="login">Login</a>
        {% endif %}
      </nav>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
